.content{
    padding: 10px;
    padding-left: 1.5%;
}

.cardTitle {
    color: black;
    margin-left: 15px;
    font-size: 28px;
}
/*  
mat-card{
    background-color: #eed896;
} */

span{
    color: black;
    font-size: 15.5px;
}

p{
    color: rgb(78, 77, 77);
    font-size: 15px;
}

.headingContact {
    font-size: 25px;
    color: #F7D97C;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
 
.semiHeading {
    font-size: 15px;
    padding-bottom: 0px;
    margin-left: 20px;
}
 
button {
    color: #F7D97C;
    border: 1px solid #F7D97C;
}