
h1{
    margin-left: 25%;
    font-size: 30px;
}
form{
    margin-left: 18%;
}
.btn{
    width: 55%;
    margin-left: 10%;
}
.btn1{
    width: 35%;
    margin-left: 10%;
}
span{
    font-size: 20px;
}

