<h1>Need assistance on <b>Claim settlement </b> ?</h1>
<form>
          <div class="controles-container10">
            <mat-form-field  appearance="outline">
              <input  name="username"  matInput placeholder="Full Name">
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <input  type="email"   name="password"  matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
                <mat-label>Tell us about what happened (optional)</mat-label>
                <textarea
                  type="text"
                  name="description"
                  placeholder="Enter here"
                  matInput
                  rows="5"
                ></textarea>
              </mat-form-field>
          </div>
        <button type="submit" mat-raised-button  color="primary" class="btn" >REQUEST CLAIM ASSISTANCE</button><br>
    </form>
    <br>
    <mat-card style="background-color: rgb(250, 248, 153);">
     <p><span style="margin-left: 11%;">Got Question regarding Insurance claim?</span><span style="margin-left: 18%;">Need Chatbot Assistant?</span> </p>
     
     <button  mat-raised-button class="btn1"  ><mat-icon> call </mat-icon> 1800-258-5661</button>
     <button  mat-raised-button  class="btn1" style="margin-left: 10%;"><mat-icon> chat_bubble</mat-icon> CHAT ASSISTANCE</button><br>
    </mat-card>

   