<div class="main">
    <div class="card">
        <div class="card_content" style="padding: 10px;">
            <div fxLayout="row wrap" fxLayoutGap="40px grid">
                <div fxFlex="27%">
                    <div class="name">
                        <img src="../../../../assets/images/Daco_5511364.png" width="50px">
                        <span class="name">Mr Uttam Kumar</span>
                    </div>
                </div>
                <!-- <mat-divider [vertical]="true" style="height: 45%;"></mat-divider> -->
                <div fxFlex="26%">
                    <div class="name">
                        <p style="margin-top: 10px;">uttamrawani14@gmail.com</p>
                    </div>
                </div>
                <!-- <mat-divider [vertical]="true" style="height: 45%;"></mat-divider> -->
                <div fxFlex="18%">
                    <div class="name">
                        <p style="margin-top: 10px;">+1 5004 890 08</p>
                    </div>
                </div>
                <!-- <mat-divider [vertical]="true" style="height: 45%;"></mat-divider> -->
                <div fxFlex="18%">

                    <p class="name" style="margin-top: 5%;">Completed 60%
                        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>

                        <!-- <app-donut-profile></app-donut-profile> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="main">
    <div class="card">
        <div class="textHeading">
            Personal Information
            <mat-icon class="icon" matTooltip="Change Details">edit</mat-icon>
        </div>
        <div class="card_content">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxFlex="20%">
                    <p class="upperText">Name</p>
                    <p class="lowerText">Mr Uttam Kumar</p>
                </div>
                <div fxFlex="18%">
                    <p class="upperText">Gender</p>
                    <p class="lowerText">Male</p>
                </div>
                <div fxFlex="18%">
                    <p class="upperText">Date Of Birth</p>
                    <p class="lowerText">22/05/1972</p>
                </div>
                <div fxFlex="18%">
                    <p class="upperText">Marital Status</p>
                    <p class="lowerText">Married</p>
                </div>
                <div fxFlex="25%">
                    <p class="upperText">National Identifier Number</p>
                    <p class="lowerText">515-09-3875</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="card">
        <div class="textHeading">
            Physical Address
            <mat-icon class="icon" matTooltip="Change Address">edit</mat-icon>
        </div>
        <div class="card_content">
            <div fxLayout="row wrap" fxLayoutGap="200px grid">
                <div fxFlex="35%">
                    <p class="upperText">Permanent Address</p>
                    <span class="lowerText">100 MAIN ST ROAD</span><br>
                    <span class="lowerText">PO BOX 704400</span><br>
                    <span class="lowerText">SEATTLE WOCK</span><br>
                    <span class="lowerText">INDIA</span>
                    <p></p>
                </div>
                <div fxFlex="40%">
                    <p class="upperText">Communication Address</p>
                    <span class="lowerText">MARTHAS ROAD</span><br>
                    <span class="lowerText">PO BOX 701104</span><br>
                    <span class="lowerText">HALL TOWN</span><br>
                    <span class="lowerText">INDIA</span>

                    <!-- <button mat-raised-button color="primary" style="margin-top: 40px;margin-left: 60px;" (click)="openDialog()">Add Another Address</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="card">
        <div class="textHeading">
            Phone Number
            <mat-icon class="icon" matTooltip="Change Number">edit</mat-icon>
        </div>
        <div class="card_content">
            <div fxLayout="row wrap" fxLayoutGap="200px grid">
                <div fxFlex="35%">
                    <p class="upperText">Primary Number</p>
                    <mat-form-field appearance="outline" style="margin-left: 15px;">
                        <input matInput [value]="primaryNumber" readonly>
                    </mat-form-field>
                </div>
                <div fxFlex="40%">
                    <p class="upperText">Secondary Number</p>
                    <mat-form-field appearance="outline" style="margin-left: 15px;">
                        <input matInput [value]="secondaryNumber" readonly>
                    </mat-form-field>
                    <!-- <button mat-raised-button color="primary" style="margin-top: 40px;margin-left: 60px;" (click)="openDialog()">Add Another Address</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="card">
        <div class="textHeading">
            Digital Address
            <mat-icon class="icon" matTooltip="Change Details">edit</mat-icon>
        </div>
        <div class="card_content">
            <div fxLayout="row wrap" fxLayoutGap="30px grid">
                <div fxFlex="28%">
                    <p class="upperText">Email Address</p>
                    <p class="lowerText">uttamrawani14@gmail.com</p>
                </div>
                <div fxFlex="25%">
                    <p class="upperText">Twitter Handle</p>
                    <p class="lowerText"><img src="../../../../assets/images/twitter.png" width="18px"> @UttamKumar
                    </p>
                </div>
                <div fxFlex="40%">
                    <p class="upperText">LinkedIn</p>
                    <p class="lowerText"><img src="../../../../assets/images/linkedIn.png" width="18px">https://www.linkedin.com/in/uttam-kumar-rawani-5492a1167/</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="card">
        <div class="textHeading">
            Additional Information
            <!-- <mat-icon class="icon" matTooltip="Click to view">add_circle</mat-icon> -->
            <!-- <mat-icon>remove_circle</mat-icon> -->
            <mat-icon class="icon" matTooltip="Change Details">edit</mat-icon>
        </div>
        <div class="card_content">
            <div style="margin-left: 15px;margin-top: 5px;">Dependent Details</div>
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxFlex="22%">
                    <p class="upperText">Name</p>
                    <p class="lowerText">Mrs Manisha</p>
                </div>
                <div fxFlex="22%">
                    <p class="upperText">Gender</p>
                    <p class="lowerText">Female</p>
                </div>
                <div fxFlex="22%">
                    <p class="upperText">Date Of Birth</p>
                    <p class="lowerText">10/16/1957</p>
                </div>
                <div fxFlex="20%">
                    <p class="upperText">Relationship</p>
                    <p class="lowerText">Mother</p>
                </div>
                <!-- <div fxFlex="25%">
                    <p class="upperText">National Identifier Number</p>
                    <p class="lowerText">515-09-3875</p>
                </div> -->
            </div>
        </div>
    </div>
</div>


<div class="main">
    <div class="card">
        <div class="textHeading">
            Preferences
            <mat-icon class="icon" matTooltip="Change">edit</mat-icon>
        </div>
        <div class="card_content">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxFlex="100%">
                    <p class="upperText">My preferred address for Policy, Service and Marketing preference
                        <mat-form-field style="margin-left: 100px;" appearance="outline">
                            <mat-select [(value)]="selectedAddress">
                                <mat-option value="primary">Permanent Address</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <mat-divider class="divider"></mat-divider>
                    <p class="upperText">Policy and Services related preferences</p>
                    <p class="upperText">Please check the boxes below to let us know how we can contact you</p>
                    <span>
                        <mat-checkbox class="check">All</mat-checkbox>
                        <mat-checkbox class="check">SMS and Text Message</mat-checkbox>
                        <mat-checkbox class="check" [checked]="true">Email</mat-checkbox>
                        <mat-checkbox class="check">Phone</mat-checkbox>
                        <mat-checkbox class="check">Post</mat-checkbox>
                    </span>
                    <mat-divider class="divider"></mat-divider>
                    <p class="upperText">Marketing preferences</p>
                    <p class="upperText">Please check the boxes below to let us know how we can contact you</p>
                    <span>
                        <mat-checkbox class="check">All</mat-checkbox>
                        <mat-checkbox class="check" [checked]="true">SMS and Text Message</mat-checkbox>
                        <mat-checkbox class="check">Email</mat-checkbox>
                        <mat-checkbox class="check">Phone</mat-checkbox>
                        <mat-checkbox class="check">Post</mat-checkbox>
                    </span>
                    <p class="upperText">
                        <mat-checkbox class="check2">Twitter</mat-checkbox>
                        <mat-checkbox class="check3">LinkedIn</mat-checkbox>
                    </p>
                    <p class="upperText">By confirming marketing preferences, you are providing us the consent to share your Information to other members of XYZ Insurance group, so that group members can keep you informed about our products and offers.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<br>