<footer class="services">
    <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="content2">
                <div fxLayout="row wrap" fxLayoutGap="100px grid">
                    <div fxFlex="20%">
                        <h4>CONTACT US</h4>
                        <span>+91 12312311234</span><br>
                        <span>xyz@profinch.com</span><br>
                        <span>Find a company</span>
                    </div>
                    <div fxFlex="20%">
                        <h4>CUSTOMER SERVICE</h4>
                        <span>Contact Us</span><br>
                        <span>Ordering & Payment</span><br>
                        <span>Shipping</span><br>
                        <span>Returns</span><br>
                        <span>FAQ</span>
                    </div>
                    <div fxFlex="20%">
                        <span class="glyphicon glyphicon-lock"></span>
                        <h4>INFORMATION</h4>
                        <span>About Profinch</span><br>
                        <span>Work With Us</span><br>
                        <span>T&C</span><br>
                        <span>Press Enquiries</span>
                    </div>
                    <div fxFlex="20%">
                        <h4>Subscribe to Profinch via Email</h4>
                        <input type="text" matInput>
                    </div>
                    <div fxFlex="20%">
                        <button type="button" mat-raised-button class="subscribe">Subscribe</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <p style="text-align: center;">
        <mat-icon aria-hidden="false">copyright</mat-icon>
        <span>Profinch Solutions 2021</span>
    </p>
</footer>