<!-- <mat-toolbar class="mat-elevation-z8">
   <h3 style="color: black;">FinFlowz</h3>
    <span class="example-spacer"></span>
  
    <a (click)="logout()" *ngIf="isLoggedIn"
    type="hidden" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon matBadge="7" matBadgeColor="primary"> mail_outline</mat-icon>
<h1 style="margin-left: 2100%;">{{login.getUser().username}}</h1> 
  
    </a>
  </mat-toolbar> -->

 

  <mat-toolbar>
   <h3 style="font-size: 20px;">FinFlowz</h3>
   <span class="example-spacer"></span>
   <!-- <form>
     <input type="search" class="bigText">
   </form> -->

   <button style="margin-left:2%;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon matBadge="15" matBadgeColor="primary"> chat_bubble_outline</mat-icon>
   </button>
   <button style="margin-left: 2%; margin-right: 2%;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon  matBadge="15" matBadgeColor="primary" routerLink="/user/mail"> mail_outline</mat-icon>
  </button>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <img src="../../../assets/images/Daco_5511364.png" alt="profile_img" width="38px">
</button>
<mat-menu #menu="matMenu">
 
  <button mat-menu-item routerLink="/user/profile">
    <mat-icon>account_circle</mat-icon>
    <span>Hi, uttam&nbsp;</span>
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout&nbsp;</span>
  </button>
</mat-menu>

 </mat-toolbar>


 