<mat-grid-list cols="6" rowHeight="148px" gutterSize="4px">
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Policy Information</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div style="padding: 2px;">
                    <div fxLayout="row wrap" fxLayoutGap="5px grid">
                        <div fxFlex="60%" style="margin-top: 25px;">
                            <p class="pTexts">Policy Holder : <span class="sTexts"></span></p>
                            <p class="pTexts">Policy Number : <span class="sTexts"></span></p>
                            <p class="pTexts">Vehicle Registration Number : <span class="sTexts"></span></p>
                            <p class="pTexts">Total Premium : <span class="sTexts"></span></p>
                            <p class="pTexts">Policy Type : <span class="sTexts"></span></p>
                            <button mat-raised-button class="btn1" style="margin-left: 10px;" routerLink="/Moter/policy">View Details</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <img src="../../../assets/images/Moter.png" width="380px" style="margin-left: 15%;">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Care For Your Car With (CLIENT NAME) Insurance </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div style="margin-top: 10px;">
                    <ul>
                        <li>
                            Quick & Simple online purchase/renewal process
                        </li>


                        <li>
                            Claim Settlement On The Spot,within 20 mins*
                        </li>
                        <li>
                            24x7 Roadside Assistance*
                        </li>
                        <a href="#" style="font-size: 15px; margin-left: 0%;padding-top: 10px;">Click here to view details</a>
                        <p style="margin-left: 0%; margin-bottom: 4%; font-size: 10px;">*Term & condition apply
                        </p>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Quick Links</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div style="margin-top: 9px;">
                    <p class="links2">Know More</p>
                    <p class="links2">Get Quote/Buy Policy</p>
                    <p class="links2">Renew Policy </p>
                    <p class="links2">Claim Intimation</p>
                    <p class="links2">Track claim status </p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>