<p class="headingContact">Contact Us!</p>
<span>If you have any questions, you can write to us, chat with us or call us.</span>
<div class="main">
    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image" style="background-color:#fde161;">
                    <mat-icon class="icon">mail</mat-icon>
                    <h3 style="text-align: center; font-size: 20px; font-weight: 500;">Send us an Email</h3>
                </div>
                <div class="card_content">
                    <div class="cardContent">
                        <p>We usually respond to your emails within 24 hours.
                            <br> Have you checked our FAQs for answers to most common questions?</p>
                        <p>If your enquiry is urgent, Please call us!</p>
                        <br><br>
                    </div>
                    <button mat-raised-button color="primary" style="margin-left: 30%; margin-bottom: 5%;" routerLink="/user/mail">Email Now</button>
                    <br>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image" style="background-color:#fde161;">
                    <mat-icon class="icon">chat</mat-icon>
                    <h3 style="text-align: center; font-size: 20px; font-weight: 500;">Chat With Us</h3>
                </div>
                <div class="card_content">
                    <div class="cardContent">
                        <p>
                            Our agents are available between 09:00 to 18:00, Monday to Friday.
                        </p>
                        <p>If you are contacting us post business hours, we will respond back on the next working day.
                        </p><br><br>
                    </div>
                    <button mat-raised-button color="primary" style="margin-left: 30%; margin-bottom: 5%;">Chat Now</button>
                    <br>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image" style="background-color:#fde161;">
                    <mat-icon class="icon">supervised_user_circle</mat-icon>
                    <h3 style="text-align: center; font-size: 20px; font-weight: 500;">Meet Our Finacial Advisers</h3>
                </div>
                <div class="card_content">
                    <div class="cardContent">
                        <p>
                            Getting right financial advice from right person is very important.
                            <br>Set up a face-to-face meeting with insurance adviser.
                        </p>
                        <p>We can review your health plans and help you to make your finances more tax efficient. </p>
                    </div>
                    <button mat-raised-button color="primary" style="margin-left: 25%; margin-bottom: 5%;">Set Up A Meeting</button>
                    <br>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="main">
    <div class="card card1">
        <div class="card_content">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxFlex="100%">
                    <p>If you do not wish to use above communication channels, please feel free to call us on below number.</p>
                    <p>Alternatively, you can browse list of products and the respective contact numbers.</p>
                    <p><b>1800 000 111</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>