<!-- <div class="container1">
    <div class="content">
        <div fxLayout="row wrap" style="margin-left: 25%; padding-top: 3%;">
            <div fxFlex="30%" class="mat-elevation-z8" style="background-color: white; color: black;">
                <h2>Apply For Claim</h2>
                <p> A Simple and intuitive to help<br>
                    you get your claim settled in no time</p>
                <br>
                <button mat-raised-button color="primary">Apply Now</button>
            </div>
            <div fxFlex="30%" class="mat-elevation-z8" style="background-color: white; color: black; margin-left: 10%;">
                <h2>Claim Enquiry</h2>
                <p>File the reqired information to track <br>
                    the latest updates on your insurance claim.</p>
                <br>
                <button mat-raised-button color="primary">Visit Page</button>
            </div>
        </div>
    </div>
    <br>
    <h1 style="text-align: center;">Download Claims Forms <span style="color: red"><a
                href="../../../assets/images/Claim_Form.pdf" download>Here</a></span></h1>
    <h2 style="margin-left: 3%;">Should you wish to send your communication by post, our address is as follows</h2>

    <h2>Download CGF, Wings of Eagles, SS CommercialEstate, 86, Varthur Rd, Nagavarapalya, C V Raman Nagar, Bengaluru,
        Karnataka 560093.</h2>
    <br>
    <div class="content">
        <div fxLayout="row wrap" style="margin-left: 5%;">
            <div fxFlex="30%">
                <h3 style="font-size: 20px;color:  rgb(233, 227, 227); text-align: center;">Locate Policy Holder<br> service center CLAIMS FAQs</h3>
                <p style="color: gray;">Get answers to your most frequently asked questions about filing a claim or submitting  a claim</p>
                <br>
            </div>
            <div fxFlex="25%" style="margin-left: 5%;">
                <h3 style="font-size: 20px;color:  rgb(233, 227, 227); text-align: center;">customer.care@Profinch.com</h3>
                <p style="color: gray;">24/7- Avilable when you need us</p>
                <br>
            </div>
            <div fxFlex="30%">
                <h3 style="font-size: 20px;color:  rgb(233, 227, 227); text-align: center;">1800-209-9090</h3>
                <p style="color: gray;">Monday - Saturday | 9am - 7pm IST</p>
                <br>
            </div>
        </div>
    </div>
</div> -->

<div class="cards">
    <div class="card" style="background-color: #728FCE">
        <img src="../../../assets/images/clue-reports-how-car-insurance-companies-track-claims.png" width="110%"
            style="margin-top: 5%;">

    </div>
    <div class="card">
        <br><br>
        <div class="content">
            <h1><b>Apply For Claim</b></h1>
            <p> A Simple and intuitive to help<br>
                you get your claim settled in no time</p>
            <button mat-raised-button>Apply Now</button>
        </div>
    </div>
    <div class="card">
        <br><br>
        <div class="content">
            <h1 style="margin-top: 2%;"><b>Claims Enquiry</b></h1>
            <p>File the reqired information to track <br>
                the latest updates on your insurance claim.</p>
            <button mat-raised-button>Click here</button>
        </div>
    </div>
</div>

<div class="content">
    <div fxLayout="row wrap">
        <div fxFlex="40%" style="margin-left: 11%;">
            <h2 style="margin-bottom: 0px; color: black; text-align: left;">Should you wish to send your communication
                by post, our</h2>
            <h2 style="margin-bottom: 0px; color: black; text-align: left;">address is as follows : Download Claims
                forms <span style="color: red"><a href="../../../assets/images/Claim_Form.pdf" download>Here</a></span>
            </h2>

            <h3 style="text-align: left;">Download CGF, Wings of Eagles, SS Commercial</h3>
            <h3 style="text-align: left;">
                Estate, 86, Varthur Rd, Nagavarapalya, C V Raman Nagar,
            </h3>
            <h3 style="text-align: left;">Bengaluru,,Karnataka 560093.</h3>
        </div>
        <div fxFlex="25%" style="margin-left: 12%; border: 1px solid black;">
            <br>
            <h3 style="font-size: 20px;color:  black; text-align: center;"><b>customer.care@Profinch.com</b></h3>
            <p style="color: gray;">24/7- Avilable when you need us</p>
            <br>
      
            <h3 style="font-size: 20px;color:  black; text-align: center;"><b>1800-209-9090</b></h3>
            <p style="color: gray;">Monday - Saturday | 9am - 7pm IST</p>
            <br>
        </div>
    </div>
</div>