<mat-card>
    <mat-action-list>
        <button mat-list-item routerLink="/Moter">
        <mat-icon mat-list-icon>home</mat-icon> Home
      </button>
        <button mat-list-item>
        <mat-icon mat-list-icon>account_circle</mat-icon> Profile
      </button>
        <button mat-list-item>
        <mat-icon mat-list-icon> policy</mat-icon> Policy
      </button>
        <button mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon> Documents
      </button>
        <button mat-list-item>
        <mat-icon mat-list-icon> settings</mat-icon> Claims
      </button>
        <button mat-list-item>
        <mat-icon mat-list-icon>help</mat-icon> FAQ
      </button>
        <button mat-list-item>
        <mat-icon mat-list-icon>contact_support</mat-icon> Contact Us
      </button>

    </mat-action-list>
</mat-card>