<mat-card>
  <mat-action-list>
      <button mat-list-item routerLink="/Health">
      <mat-icon mat-list-icon>home</mat-icon> Home
    </button>
      <button mat-list-item routerLink="/Health/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon> Profile
    </button>
      <button mat-list-item routerLink="/Health/policy">
      <mat-icon mat-list-icon> policy</mat-icon> Policy
    </button>
      <button mat-list-item routerLink="/Health/documents">
      <mat-icon mat-list-icon>folder</mat-icon> Documents
    </button>
      <button mat-list-item routerLink="/Health/claims">
      <mat-icon mat-list-icon> settings</mat-icon> Claims
    </button>
      <button mat-list-item routerLink="/Health/FAQ">
      <mat-icon mat-list-icon>help</mat-icon> FAQ
    </button>
      <button mat-list-item routerLink="/Health/contactUs">
      <mat-icon mat-list-icon>contact_support</mat-icon> Contact Us
    </button>

  </mat-action-list>
</mat-card>