<div>
    <p class="heading">Policy No. <span style="color: gray;">567837</span> </p>
    <p class="heading" style="margin-left: 200px;">Policy Status : <span style="color: gray;">Active</span></p>
</div>
<mat-grid-list cols="5" rowHeight="160px" gutterSize="10px">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <div class="box1 mat-elevation-z8">
            <div class="content">
                <div fxLayout="row wrap" fxLayoutGap="20px grid">
                    <div fxFlex="24%" style="margin-left: 15px;">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69;">
                            <p>Sum Insured</p>
                            <br>
                            <h1 style="text-align: center;">$ 200,000</h1>
                        </mat-card>
                    </div>
                    <div fxFlex="24%">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69;">
                            <p>No. of Claims Filed</p>
                            <h1 style="text-align: center;">4</h1>
                        </mat-card>
                    </div>
                    <div fxFlex="24%">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69;">
                            <p>Total Billed Amount</p>
                            <h1 style="text-align: center;">$ 120,000</h1>
                        </mat-card>
                    </div>
                    <div fxFlex="24%">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69">
                            <p>Total Amount Paid</p>
                            <h1 style="text-align: center;">$ 90,000</h1>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="content">
                <div fxLayout="row wrap" fxLayoutGap="20px grid">
                    <div fxFlex="24%" style="margin-left: 15px;">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69;">
                            <span style="float: right;font-size: 10px;cursor: pointer;"><mat-icon matTooltip="A deductible is the amount you pay each year for most eligible medical services or medications before your health plan begins to share in the cost of covered services.">info</mat-icon></span>
                            <p>Annual Deductible</p>
                            <h1 style="text-align: center;">$ 2,200</h1>
                        </mat-card>
                    </div>
                    <div fxFlex="24%">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69;">
                            <p>Deductible Remaining</p>
                            <h1 style="text-align: center;">$ 1,100</h1>
                        </mat-card>
                    </div>
                    <div fxFlex="24%">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69;">
                            <span style="float: right;font-size: 10px;cursor: pointer;"><mat-icon matTooltip="A copay (or copayment) is a flat fee that you pay on the spot each time you go to your doctor or fill a prescription.">info</mat-icon></span>
                            <p>Copay</p>
                            <br>
                            <h1 style="text-align: center;">5%</h1>
                        </mat-card>
                    </div>
                    <div fxFlex="24%">
                        <mat-card class="mat-elevation-z8" style="background-color: #f3da69">
                            <span style="float: right;font-size: 10px;cursor: pointer;"><mat-icon matTooltip="Coinsurance is a portion of the medical cost you pay after your deductible has been met.
                                ">info</mat-icon></span>
                            <p>Coinsurance</p>
                            <br>
                            <h1 style="text-align: center;">20%</h1>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="secondTile mat-elevation-z8" style="width: auto;height: auto;">
            <mat-card-header>
                <mat-card-title>Tips: </mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                <p style="font-size: 15px;">
                    On an average, people of your age choose Sum Insured of 5 Lakhs.
                </p> <br>
                <p style="font-size: 15px;">Cover your parents under this plan.</p>
                <button mat-raised-button class="btn1">Upgrade Policy</button>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<br>



<mat-grid-list cols="4" rowHeight="180px" gutterSize="20px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <div class="box1 mat-elevation-z8">
            <div class="content">
                <div fxLayout="row wrap" fxLayoutGap="2px grid">
                    <div fxFlex="35%" style="margin-left: 10px;">
                        <h1>Plan Details</h1>
                        <p class="thirdTile">Plan Name:</p>
                        <p class="thirdTile2">Active Health Enhanced</p>
                        <p class="thirdTile">Plan Type:</p>
                        <p class="thirdTile2">Individual</p>
                        <p class="thirdTile">Policy Start Date:</p>
                        <p class="thirdTile2">22/11/2018</p>
                        <p class="thirdTile">Policy Renewal Date:</p>
                        <p class="thirdTile2">22/11/2021</p>
                    </div>

                    <div fxFlex="50%" style="margin-left: 60px;">
                        <!-- <p>No. of Dependents : 3</p> -->
                        <h1>Benefit Summary</h1>
                        <p class="thirdTile">1. Ambulance Hospitalization - actuals in network, max 5000/ in case of emergency.</p>
                        <p class="thirdTile">2. Pre-existing condition coverage right from start for covered services if member enrollment is approved </p>
                        <p class="thirdTile">3. No referrals for special visits.</p>
                        <p class="thirdTile">4. 100% preventive care coverage.</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <div class="box1 mat-elevation-z8" style="padding: 10px;margin-left: 25px;">
            <h1 style="padding: 10px;">Members Covered Details</h1>
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th scope="col">Member id</th>
                        <th scope="col">Name</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Relationship</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">101</th>
                        <td>Manisha</td>
                        <td>10/16/1957</td>
                        <td>Mother</td>
                        <td>
                            <mat-icon matTooltip="Edit" style="cursor: pointer;">edit</mat-icon>
                            <mat-icon matTooltip="Delete" style="cursor: pointer;">delete</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">102</th>
                        <td>Daisy</td>
                        <td>12/08/1974</td>
                        <td>Wife</td>
                        <td>
                            <mat-icon matTooltip="Edit" style="cursor: pointer;">edit</mat-icon>
                            <mat-icon matTooltip="Delete" style="cursor: pointer;">delete</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">103</th>
                        <td>Reznick</td>
                        <td>09/08/1976</td>
                        <td>Daughter</td>
                        <td>
                            <mat-icon matTooltip="Edit" style="cursor: pointer;">edit</mat-icon>
                            <mat-icon matTooltip="Delete" style="cursor: pointer;">delete</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">104</th>
                        <td>Paul</td>
                        <td>07/07/1980</td>
                        <td>Son</td>
                        <td>
                            <mat-icon matTooltip="Edit" style="cursor: pointer;">edit</mat-icon>
                            <mat-icon matTooltip="Delete" style="cursor: pointer;">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<br>