<mat-grid-list cols="4" rowHeight="140px">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <mat-card class="forCard mat-elevation-z8">
            <div>
                <p class="heading">The listed hospitals are identified by us to help our valued customers to get hassle free medical attention and processing of claims.
                </p>
                <p class="heading">We have<span style="color: #eb2127;">10000+</span> Cashless Hospital Network</p>
            </div>
            <mat-card-content>
                <div style="padding: 2px;padding-bottom: 0px;">
                    <div fxLayout="row wrap" fxLayoutGap="5px grid" style="padding-bottom: 0px;">
                        <div fxFlex="20%" style="margin-left: 30px;padding-bottom: 0px;">
                            <mat-form-field appearance="outline" style="padding-top: 10px;">
                                <mat-label>State</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>location_city</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%" style="margin-left: 50px;padding-bottom: 0px;">
                            <mat-form-field appearance="outline" style="padding-top: 10px;">
                                <mat-label>City</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>location_city</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%" style="margin-left: 50px;padding-bottom: 0px;">
                            <mat-form-field appearance="outline" style="padding-top: 10px;">
                                <mat-label>Zip Code</mat-label>
                                <input matInput>
                                <mat-icon matSuffix> person_pin_circle</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%">
                            <button mat-raised-button color="primary" (click)="showTable()" class="serachbtn">Locate Hospital</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="110px" *ngIf="displayRow == true">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <mat-card class="forCard mat-elevation-z8">
            <mat-card-content>
                <div style="padding: 10px;">
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <div fxFlex="40%">
                            <img src="../../../../assets/images/location1.png" width="250px" height="160px" style="margin-left: 50px;">
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field appearance="outline" style="margin-left: 130px;margin-top: 20px;">
                                <input matInput [value]="displayMsg" readonly style="text-align: center;">
                            </mat-form-field>
                            <p style="margin-left: 70px;font-size: 15px;">Please select above options to locate nearest Hospitals. </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="120px" *ngIf="displayTable == true">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <table class="table table-hover table-bordered mat-elevation-z8 forTable">
            <thead>
                <tr>
                    <th>Hospital Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pincode</th>
                    <th>STD</th>
                    <th>Contact No.</th>
                    <th>Locate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                </tr>
                <tr>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                </tr>
                <tr>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                </tr>
                <tr>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                </tr>
            </tbody>
        </table>
    </mat-grid-tile>
</mat-grid-list>