<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>FinFlowz</span> Insurance</h1>
                <p style="font-size: 165%; color: whitesmoke; margin-top: 1%;">Sign in for Personalized view of Benefits</p>
                <p style="color: whitesmoke;">Easy access to plan information anytime anywhere</p>
                <p style="color: whitesmoke;">Get the most out of your coverage</p>

                <div class="btns">
                    <p routerLink="/Registration" style="cursor: pointer;" class="btn-menu animated fadeInUp scrollto">Sign Up</p>
                    <p routerLink="/signin" style="cursor: pointer;" class="btn-book animated fadeInUp scrollto">Sign In</p>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=0vg3x5DbSw0" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</section>





<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="assets/img/about.jpg" alt="">
                    </div>
                </div>
                <br>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3 style="color: white;">How Does Insurance Work? </h3>
                    <br>
                    <ul style="color: white;">
                        <li><i class="bi bi-check-circle"></i>insurance policy is a legal contract that binds both policyholder and the insurance company towards each other. It has all the details of the conditions or circumstances under which either the
                            insured individual or policy nominee receives insurance benefits from the insurer.</li>
                        <li><i class="bi bi-check-circle"></i> Insurance is a method by which you can protect yourself and your loved ones from facing a financial crisis. You buy an insurance policy for the same, while the insurance company takes the risk
                            involved and offer insurance cover at a specific premium.</li>
                        <li><i class="bi bi-check-circle"></i> In case of any eventuality, the insured or nominee can file a claim with the insurer. Based on the evaluation criteria for claims, the insurer reviews the claim application and settles the claim.</li>
                    </ul>

                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us" style="background-color: black;">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Why Us</h2><br>
                <h1 style="font-size: 40px;">Why Choose Our Product</h1>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <span>01</span>
                        <h4>SECURITY</h4>
                        <p>When it comes to security blanket lets choose INSURANCE to secure us and our family's financial future.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                        <span>02</span>
                        <h4>AFFORDABLE</h4>
                        <p>Quotation of Products that complements financial future plan and does not overshoot budget.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300" (click)="add()">
                        <span>03</span>
                        <h4>SERVICES </h4>
                        <p>All Services are served under one umbrella to meet all your needs and requirements. </p><br>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <h1>{{name}}</h1>