.statusCard {
    width: 98%;
    margin-left: 1%;
    margin-top: 20px;
    border-radius: 15px;
}

.ruleLine {
    width: 57%;
    margin-left: 25px;
    opacity: 0.8;
    color: black;
}

.img1 {
    position: absolute;
    top: -12px;
}

.welcome {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    color: #ffcc00;
}

.msg {
    font-size: 15px;
    margin-top: 20px;
    padding: 5px;
    color: gray;
    margin-left: 10px;
}

.msg1 {
    font-size: 15px;
    padding: 5px;
    color: gray;
    margin-left: 10px;
}

.forTable {
    position: absolute;
    top: 60px;
    width: 98%;
    margin-left: 1%;
}

.tableHeading {
    position: absolute;
    top: 25px;
    font-size: 20px;
    margin-left: 2%;
}

td {
    color: gray;
    padding: 10px;
}

.btn1 {
    width: 15%;
    margin-left: 30%;
    background: rgba(255, 204, 0, 0.6);
}

.btn2 {
    width: 15%;
    margin-left: 10%;
}

.btn1:hover {
    background-color: #ffcc00;
}

.btn2:hover {
    background: rgba(67, 68, 68, 0.1);
}