<!-- <mat-grid-list  cols = "2" rowHeight = "193px">
    <mat-grid-tile class="grid"
    [colspan] = "1"
    [rowspan] = "3">
    <img src="../../../assets/images/login2.png" width="340px">
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] = "3">
  
      <form  class="mat-elevation-z8" (ngSubmit)="formSubmit()">
        <img src="../../../assets/images/login (1).png" width="100px" style="margin-left: 43%;margin-top: 5%;">
        <mat-grid-list cols="1" rowHeight="150px">
            <mat-grid-tile>
              <div class="controles-container">
                <mat-form-field  appearance="outline">
                  <input  name="username" [(ngModel)]="loginData.username" matInput placeholder=" Username">
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                  <input type="password" [(ngModel)]="loginData.password"  name="password"  matInput placeholder="Password">
                  <mat-icon matSuffix> vpn_key</mat-icon>
                </mat-form-field>
              </div>
         </mat-grid-tile>
         </mat-grid-list>
         <a routerLink="/forgot" routerLinkActive="active">Forgot Your Password</a>
         <button type="submit" mat-raised-button  class="btn" >Submit</button><br>
         <button type="reset" mat-raised-button  class="btn1">Cancel</button>
         </form>
    </mat-grid-tile>
  </mat-grid-list>-->


  <div class ="container1">
    <div class="row1">
    <div class="col1">
    <h1>For wonderful experience, Please connect with us!</h1>
    <hr>
    </div>
    <div class="col2">
    <div class="card1 card2">
      <form (ngSubmit)="formSubmit()">
        <br>
              <div class="controles-container">
                <h3>Username</h3>
                <mat-form-field  appearance="outline">
                  <input  name="username" [(ngModel)]="user.username"  matInput placeholder=" Username">
                </mat-form-field>
                <h3>Password</h3>
                <mat-form-field  appearance="outline">
                  <input  type="password" [(ngModel)]="user.password"    name="password"  matInput placeholder="Password">
                </mat-form-field>
                <h3>Confirm Password</h3>
                <mat-form-field  appearance="outline">
                  <input  type="password" [(ngModel)]="user.password"    name="password"  matInput placeholder="Password">
                </mat-form-field>
              </div>
         <button type="submit" mat-raised-button  color="primary" class="btn" >Submit</button><br>
         <button type="reset" mat-raised-button  class="btn1">Cancel</button>
        </form>
 
    </div>
    </div>
     
    </div>
    </div>
    
    