<h1>{{name}}</h1>
<div class="heading mat-elevation-z8">Welcome to <span style="color:#ce932e">FinFlowz</span> Insurance! Please proceed with the below options!</div>
<mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile [colspan]="4" [rowspan]="3">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="40px grid">
                <div fxFlex="25%" class="card1 card2" routerLink="/Health">
                    <p style='padding:6px; background-color:#070707; margin-left: 20%;' class="card-text">Health Insurance</p>
                </div>
                <div fxFlex="25%" class="card1 card3" routerLink="/user">
                    <p style='padding:6px; background-color:#070707; margin-left: 20%;' class="card-text">Life Insurance</p>
                </div>
                <div fxFlex="25%" class="card1 card4">
                    <p style='padding:6px; background-color:#070707; margin-left: 20%;' class="card-text">Fire Insurance</p>
                </div>
                <div fxFlex="25%" class="card1 card5">
                    <p style='padding:6px; background-color:#070707; margin-left: 20%;' class="card-text">Travel Insurance</p>
                </div>
                <div fxFlex="25%" class="card1 card6">
                    <p style='padding:6px; background-color:#070707; margin-left: 20%;' class="card-text">P&C Insurance</p>
                </div>
                <div fxFlex="25%" class="card1 card7" routerLink="/Moter">
                    <p style='padding:6px; background-color:#070707; margin-left: 20%;' class="card-text">Motor Insurance</p>
                </div>

            </div>
        </div>

    </mat-grid-tile>

</mat-grid-list>

<!-- <div class="backgradient"></div> -->