/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





form.normal-form{
  margin: 20px;
}
.controles-container{
width: 100%;
padding: 8%;
padding-top: 20%;
padding-left: 10%;
}
.controles-container10{
  width: 100%;
  padding-left: 10%;
  }

  .controles-container10 >*{
    width:60%;
  }
.controles-container1{
  width: 200%;
  padding-left: 1%;
  }
  .controles-container2{
    width: 200%;
    padding-left: 1%;
    padding-top: 7%;
    }
    .controles-container3{
      width: 200%;
      padding-left: 1%;
      padding-top: 10%;
      }
      .controles-container4{
        width: 200%;
        padding-left: 1%;
        padding-top: 14%;
        }
        .controles-container5{
          width: 200%;
          padding-left: 1%;
          padding-top: 14%;
          }
          .controles-container6{
            width: 200%;
            padding-left: 1%;
            padding-top: 19%;
            }
            .controles-container7{
              width: 200%;
              padding-left: 1%;
              padding-top: 5%;
              }
              .controles-container8{
                width: 100%;
                padding-left: 1%;
                padding-top: 0%;
                }
h2{
  color: 
  #ffc107 ;
  margin-top: 20%;
  padding: 1%;
}
.controles-container8 >*{
  width:60%;
}

.controles-container >*{
  width:100%;
}
.controles-container1 >*{
  width:90%;
}
.controles-container2 >*{
  width:90%;
}
.controles-container3 >*{
  width:90%;
}
.controles-container5 >*{
  width:90%;
}
.controles-container6 >*{
  width:90%;
}
.controles-container7 >*{
  width:90%;
}

.example-button-row{
  margin-left: 35%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}
.icon{
  cursor: pointer;

}
.header{
  height: 45px;

}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:rgb(14, 96, 226) ; 
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(14, 96, 226) ;
  background-color:rgb(14, 96, 226) ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(14, 96, 226) 
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important;
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px / 28px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
   margin: 0 0 0px; 
}

hr:not([size]) {
  height: 0px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 55px;
}
.mat-icon {
  vertical-align: middle;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item {
  cursor: pointer;
}

.advanced-pie-legend .legend-items-container .legend-items {
  overflow: inherit !important;
  white-space: nowrap;
}

.advanced-pie-legend .total-label {
  font-size: 20px !important;
  margin-bottom: 1px !important;
  margin-top: 5px;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
  margin-left: 11px !important;
  margin-top: -10px !important;
  opacity: .0;
}
.mat-grid-tile-content {
  justify-content: left !important;
}

.logoindex{
 width: 60%;
 height: 60%;
}