<div>
    <p class="heading1">Need Help?</p>
</div>

<div style="padding: 5px;">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="50%">
            <mat-card class="mat-elevation-z8">
                <mat-card-content>
                    <div style="padding: 5px;">
                        <div fxLayout="row wrap" fxLayoutGap="10px grid">
                            <div fxFlex="25%">
                                <img src="../.../../../../assets/images/whatsapp.png" width="40px">
                            </div>
                            <div fxFlex="75%">
                                <p class="heading">Whatsapp Service</p>
                                <mat-divider class="ruleLine"></mat-divider>
                                <p class="subHeading">Now you can get in touch with us on whatspp,
                                    <br>Chat with us</p>
                            </div>
                            <p class="number">8169 600 600</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>

        <div fxFlex="50%">
            <mat-card class="mat-elevation-z8">
                <mat-card-content>
                    <div style="padding: 5px;">
                        <div fxLayout="row wrap" fxLayoutGap="10px grid">
                            <div fxFlex="25%">
                                <img src="../.../../../../assets/images/phone-call.png" width="40px">
                            </div>
                            <div fxFlex="75%">
                                <p class="heading">Servicing Related</p>
                                <mat-divider class="ruleLine"></mat-divider>
                                <p class="subHeading">For Claim, Renewal, Queries Related to Existing Policy, Call us on</p>
                            </div>
                            <p class="number">022 6234 6235 / 0120 6234 6235</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<!-- <br>
<div>
    <button mat-raised-button class="btn1" [mat-dialog-close] class="btn1" style="margin-left: 50px;width: 20%;">Cancel</button>
</div> -->

<div mat-dialog-actions>
    <button mat-raised-button class="btn1" [mat-dialog-close] class="btn1">Cancel</button>
</div>